*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul,li, a {
    color: #f2f2f2;
    text-decoration: none;
    text-align: left;
    background-color: #212832;
}
.nav_links li {
    display: inline-block;
    width: auto;
    overflow: auto;
    padding-left: 30px;
    margin: 10px 0;
    margin-left: 5px;
}
body{
    background-color: #f2f2f2;
}

.nav_links li:hover{
    color: #b6b0b0;
    cursor: pointer;

}

.nav_links ul button{
    display: flex;
    justify-self: end;
}
.container{
    padding: 5%;
    position:absolute;
    margin-top: 500px;
    margin-right: 50%; 
    margin-bottom: 300px;
    margin-left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    background-color:#b6b0b0;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);

}
.container h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #212832;
    text-align: center;
}
.container .inBox input {
    width: 90%;
    padding: 5px 0;
    font-size: 16px;
    color: #1d2625;
    border-radius: 2px;
    margin: 8px 10x;
    display:inline-table;
    box-sizing:border-box;  
      border: none; 
    border-bottom: 1px solid #f2f2f2;
    outline: none;
    background-color: transparent;
}
nav button{
    margin-left: 540px;
}
.dele , .sub ,.ed ,button{
    color: #f2f2f2;
    background-color: #df6609;
    padding: 12px 25px;
    border: none;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    font-style:inherit;
    font-weight:bold;
    border: 2px solid #df6609;

}
.btn:hover{
    color: #212832;
    background-color: #ece7e7;
    border: 2px solid #212832;
  }
.dele:hover , .sub:hover, .ed:hover {
    color: #212832;
    background-color: #ece7e7;
    border: 2px solid #212832;
}
label{
    font-size: 18px; 
    font-weight: bold;
    font-style: normal;
    color: #212832;
}
.message{
    font-size: 20px;
    text-align: center;
    background-color: rgb(41, 222, 41);
}